/* BUTTON */

.button,
#addBook {
  border: none;
  color: #ffffff;
  background-color: #7d98a1;
  font-size: 20px;
  font-family: Comic Sans MS;
  padding: 12px 26px;
  border-radius: 20px;
  transition-duration: 0.3s;
  margin: 5px;
  border: 2px solid #ffffff;
}

#addBook {
  font-size: 25px;
}

.button:hover,
#addBook:hover {
  background-color: #67848e;
}

.button:active,
#addBook:active {
  background-color: #566e76;
  box-shadow: 0 2px #666;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #a9b4c2;
}

/* HEADER */

.header {
  background-color: #5e6572;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
}

.title {
  color: #ffffff;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 10px;
  text-align: center;
}

.icon {
  font-size: 30px;
}

/* BODY */
.subtitle {
  color: #000000;
  font-size: 22px;
  padding: 10px;
  margin: 0 0 0 70px;
  line-height: 1;
}

.main {
  min-height: 100vh;
  padding: 0px 70px 30px 0;
  color: #ffffff;
  font-family: Comic Sans MS;
  font-size: 16px;
  line-height: 18px;
  word-wrap: break-word;
  /* footer support */
  margin-bottom: 100px;
}

aside {
  float: left;
  width: 5%;
  padding: 50px 70px 0 70px;
}

.card {
  display: flex;
  background-color: #1c2321;
  box-shadow: #00000075 5px 5px 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px 10px 260px;
  padding: 10px 10px 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
  font-family: FontAwesome, Comic Sans MS;
}

.input {
  border-radius: 10px;
  border: 2px solid #000000;
}

input[type="radio" i] {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 5px;
  font-size: 20px;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

.fa-github {
  color: #000000;
  font-size: 24px;
  transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MODALS */

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 40px;
  background-color: #eef1ef;
  border: 4px solid #000000;
  border-radius: 10px;
  text-align: center;
  font-family: "Pacifico", cursive;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#update {
  transform: scale(0);
}

/* ERROR MESSAGE */

.error-msg {
  display: none;
  color: red;
  font-family: Georgia;
  font-size: 18px;
  text-align: center;
}

.error-msg.active {
  display: block;
}

/* MEDIA QUERIES FOR MOBILE RESIZE */
@media screen and (max-width: 800px) {
  .main {
    padding: 0px 70px 30px 0;
  }
  .subtitle {
    margin: 0;
  }

  .modal,
  .modal.active,
  .input {
    width: 50%;
    height: 50%;
  }

  .card {
    width: 100%;
    margin: 10px 0 10px 10px;
  }
  aside {
    width: 100%;
    padding: 0 0 10px 0
  }
}
